
fieldset.singleLine {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.singleLine {
    width: auto !important;
    border: none;
}

.well legend {
    margin-bottom: 0px;
}

#shiny-notification-panel {
    width: 66%;
}

.shiny-progress-notification .progress-text .progress-message {
  font-weight: bold;
  font-size: 200%;
}

.shiny-progress-notification .progress-text .progress-detail {
  font-size: 175%;
}

#uploadUniVariateCoxModelTable table thead tr th:nth-child(2) {
    width: 50px;
}

#uploadUniVariateCoxModelTable table thead tr th:nth-child(3) {
    width: 110px;
}

#uploadUniVariateCoxModelTable table thead tr th:nth-child(4) {
    width: 100px;
}


#uploadMultiVariateCoxModelTable table thead tr th:nth-child(2) {
    width: 50px;
}

#uploadMultiVariateCoxModelTable table thead tr th:nth-child(3) {
    width: 110px;
}

#uploadMultiVariateCoxModelTable table thead tr th:nth-child(4) {
    width: 100px;
}

h3, .h3 {
    font-size: 28px;
}

h4, .h4 {
    font-size: 24px;
}

h5, .h5 {
    font-size: 20px;
}

h6, .h6 {
    font-size: 16px;
}

.biggerFont {
    font-size: larger;
    font-weight: bolder;
}

.parent {
    display: table;
    table-layout:
    fixed;
}

.child {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.navbar-nav>.active>a, .navbar-nav>.active>a:hover {
    border: 1px solid #4582ec;
}

.navbar-brand {
    font-size: 30px;
}

.tabPanelSmall {
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.1;
    color: inherit;
    margin-top: 11px;
    margin-bottom: 11px;
    font-size: 20px;
}

.fixPanel {
    position: fixed;
    width: 30%;
}

.clearDiv {
    display: block;
    clear: both;
}

a.anchor {
    display: block;
    position: relative;
    visibility: hidden;
}

body {
    font-family: Helvetica, monospace, "Times New Roman", Times, serif;
}

.logoImg {
    margin: 20px;
}

#workflowImg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media (max-width: 768px) {
    body {
        padding-top: 70px;
    }
    a.anchor {
        top: -70px;
    }
    .fixPanel {
        visibility: hidden;
    }
    #workflowImg {
        width: 100%;
    }
    #shiny-notification-panel {
        width: 100%;
    }
    .shiny-progress-notification .progress-text .progress-message {
        font-weight: bold;
        font-size: 120%;
    }

    .shiny-progress-notification .progress-text .progress-detail {
        font-size: 100%;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    body {
        padding-top: 120px;
    }
    a.anchor {
        top: -120px;
    }
    .fixPanel {
        visibility: visible;
    }
    #workflowImg {
        width: 100%;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    body {
        padding-top: 120px;
    }
    a.anchor {
        top: -120px;
    }
    #workflowImg {
        width: 80%;
    }
}
@media (min-width: 1200px) {
    body {
        padding-top: 120px;
    }
    a.anchor {
        top: -120px;
    }
    #workflowImg {
        width: 60%;
    }
}


@media (max-width: 1200px) {
    .curveType {
        float: none;
    }

    #uploadLayer1 {
        padding-left: 0px;
        padding-right: 0px;
    }

    #uploadLayer2 {
        padding-left: 0px;
        padding-right: 0px;
    }

    #uploadLayer3 {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 1200px) {
    #uploadLayer1 {
        padding-left: 0px;
        padding-right: 10px;
    }

    #uploadLayer2 {
        padding-left: 5px;
        padding-right: 5px;
    }

    #uploadLayer3 {
        padding-left: 10px;
        padding-right: 5px;
    }
}

@media (max-width: 992px) {
    .demoButton {
        text-align: left;
    }
}
@media (min-width: 992px) {
    .demoButton {
        text-align: right;
    }
}
